{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        Auditoria
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p class="h2">
                Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
            </p>
        </div>
        {% if subsession.round_number == Constants.num_rounds %}
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <table class="table">
                        <thead class="table-primary">
                            <tr>
                                <th>Rondas</th>
                                <th>Pago por ronda</th>
                                <th>Beneficio ESPOL</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in player.in_all_rounds %}
                            <tr>
                                <td>{{ p.round_number }}</td>
                                <td>
                                    {{p.payoff}}
                                </td>
                                <td>{{p.Beneficio_espol}}</td>
                            </tr>
                        {% endfor %}
                            <tr class="table-primary">
                                <td>Total.</td>
                                <td >
                                    {{total_pagar}}
                                </td>
                                <td>{{total_pagar_benficio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm"></div>
            </div>
        {% else %}
            <div class="row">
                <p class="text-justify">Se han auditado <b>{{auditados}} servidores públicos</b>, de los cuales <b>{{detenidos}} servidores públicos</b> han <b>favorecido</b> a empresas menos eficientes por tokens que les han sido enviados.</p>
                <p class="text-justify">Por lo tanto, para la siguiente ronda, se auditarán <b>{{group.grupos_auditado}} servidores públicos, elegidos aleatoriamente</b></p>
            </div>
            
            {% if group.auditado == 0 and player.id_in_group == 2 %}
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 info"><p class="text-justify">Usted ha sido elegido para auditoria. <b>No se ha encontrado</b> ninguna irregularidad en sus actividades.</p></div>
                    <div class="col-2"></div>
                </div>
            {% endif %}

            {% if group.auditado == null and player.id_in_group == 2 %}
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row success"><p class="text-justify">Usted no ha sido elegido para auditoria.</p></div>
                    </div>
                    <div class="col-2"></div>
                </div>
            {% endif %}

            {% if group.auditado == 1 and player.id_in_group == 2 %}
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row warning"><p class="text-justify center">Usted ha sido elegido para auditoria.<b> Se ha encontrado que usted favoreció</b> a la empresa menos eficiente por un envio de tokens. Por lo tanto, usted será multado con <b>8 tokens</b> de su salario.</p></div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <table class="table">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Rondas</th>
                                        <th>Pago por ronda</th>
                                        <th>Beneficio ESPOL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in player.in_all_rounds %}
                                    <tr>
                                        <td>{{p.round_number}}</td>
                                        <td>
                                            {{p.payoff}}
                                        </td>
                                        <td>{{p.Beneficio_espol}}</td>
                                    </tr>
                                {% endfor %}
                                    <tr class="table-primary">
                                        <td>Total.</td>
                                        <td >
                                            {{total_pagar}}
                                        </td>
                                        <td>{{total_pagar_benficio}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            {% endif %}
        {% endif %}
        <div class="row align-items-end">
            <div class="col-10"></div>
            <div class="col-2">
                {% next_button %}
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <style type="text/css">
        .info, .success, .warning, .error, .validation {
            border: 1px solid;
            margin: 10px 0px;
            padding:15px 10px 15px 50px;
            background-repeat: no-repeat;
            background-position: 10px center;
        }
        .info {
            color: #00529B;
            background-color: #BDE5F8;
            background-image: url('/static/corrupcion_terceros/icons/coins_add.png');
        }
        .success {
            color: #4F8A10;
            background-color: #BDE5F8;
            background-image:url('/static/corrupcion_terceros/icons/thumb_up.png');
            background-size: 25px;
        }
        .warning {
            color: #9F6000;
            background-color: #FEEFB3;
            background-image: url('/static/corrupcion_terceros/icons/coins_delete.png');
        }
        .error {
            color: #D8000C;
            background-color: #FFBABA;
            background-image: url('/static/corrupcion_terceros/icons/coins_delete.png');
        }
    </style>
{% endblock %}