{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        Auditoria
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p class="h2">
                Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
            </p>
        </div>
        {% if subsession.round_number == Constants.num_rounds %}
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <table class="table">
                        <thead class="table-primary">
                            <tr>
                                <th>Rondas</th>
                                <th>Pago por ronda</th>
                                <th>Beneficio ESPOL</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in player.in_all_rounds %}
                            <tr>
                                <td>{{ p.round_number }}</td>
                                <td>
                                    {{p.payoff}}
                                </td>
                                <td>{{p.Beneficio_espol}}</td>
                            </tr>
                        {% endfor %}
                            <tr class="table-primary">
                                <td>Total.</td>
                                <td >
                                    {{total_pagar}}
                                </td>
                                <td>{{total_pagar_benficio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm"></div>
            </div>
        {% else %}
            <div class="row">
                <p class="text-justify">Se han auditado <b>{{auditados}} servidores públicos</b>, de los cuales <b>{{detenidos}} servidores públicos</b> han <b>favorecido</b> a empresas menos eficientes por tokens que les han sido enviados.</p>
                <p class="text-justify">Por lo tanto, para la siguiente ronda, se auditarán <b>{{group.grupos_auditado}} servidores públicos, elegidos aleatoriamente</b></p>
            </div>
            {% if group.auditado == 1 %}
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row"><h1 class="display-4">Descubierto</h1></div>
                        <div class="row">
                            <table class="table">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Rondas</th>
                                        <th>Pago por ronda</th>
                                        <th>Beneficio ESPOL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in player.in_all_rounds %}
                                    <tr>
                                        <td>{{p.round_number}}</td>
                                        <td>
                                            {{p.payoff}}
                                        </td>
                                        <td>{{p.Beneficio_espol}}</td>
                                    </tr>
                                {% endfor %}
                                    <tr class="table-primary">
                                        <td>Total.</td>
                                        <td >
                                            {{total_pagar}}
                                        </td>
                                        <td>{{total_pagar_benficio}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            {% endif %}
        {% endif %}
        <div class="row align-items-end">
            <div class="col-10"></div>
            <div class="col-2">
                {% next_button %}
            </div>
        </div>
    </div>
{% endblock %}