{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Enviar Tokens
{% endblock %}

{% block content %}
    
    <div class="container-fluit">
        {% if group.opciones == 1 %}
            <div class="row">
                <p>
                    usted deberá ingresar la cantidad a enviar, la misma que debe estar entre 3 y 10 tokens. Además, deberá especificar si desea que el mensaje se reciba como un regalo o como un soborno.
                </p>
            </div>
            <div class="row">
                {{ form.errors }}
                {% for field in form %}
                    {% formfield field %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            {% next_button %}
        </div>
    </div>
    
    
{% endblock %}
