{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Enviar Tokens
{% endblock %}

{% block content %}
    
    <div class="container-fluit">
        {% if group.opciones == 1 %}
            <div class="row">
                <p>
                    Usted ha decidido enviar un mensaje al servidor público. Ahora, usted debe especificar la cantidad de tokens a enviar, además debe decidir si el mensaje llega como un <b>regalo</b> o como un <b>soborno</b>.
                </p>
            </div>
            <div class="row">
                {{ form.errors }}
                {% for field in form %}
                    {% formfield field %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            {% next_button %}
        </div>
    </div>
    
    
{% endblock %}
