{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Mensaje 2
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p class="h2">
                Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
            </p>
        </div>
        
        {% if group.aceptarCoima == 3 %}
            <div class="row">
                <p>El servidor público acepto su envio de tokens para lo cual se hara efectivo lo pactado.</p>
            </div>
            <div class="row align-items-end">
                <div class="col-10"></div>
                <div class="col-2">
                    <button name="opcionCoima" value="" class="btn btn-primary btn-large">Siguiente</button>
                </div>
            </div>
        {% endif %}
        {% if group.aceptarCoima == 1 %}
            {% if player.id_in_group == 2 %}
                <div class="row">
                    <p>
                        Usted a decidio <b>denunciar</b> el envio de tokens por parte de la empresa menos eficiente. Por lo tanto, no podrá retener los tokens, sin embargo, usted recibe un bono de 2 tokens por su buena conducta y se añadirá a su salario. Finalmente, el contrato se asigna a la empresa mas eficiente y ESPOL obtiene un beneficio de 20 tokens.
                    </p>
                </div>
                <div class="row align-items-end">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button name="opcionCoima" value="" class="btn btn-primary btn-large">Siguiente</button>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <p>
                       El Servidor público ha decidido <b>denunciar</b> el envio de tokens. Por lo tanto, el contrato se asigna a la empresa mas eficiente y ESPOL recibe una penalización de 5 tokens, los cuales serán descontados de su salario.
                    </p>
                </div>
                <div class="row align-items-end">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button name="opcionCoima" value="" class="btn btn-primary btn-large">Siguiente</button>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if group.aceptarCoima == 2 %}
            {% if player.id_in_group == 2 %}
                <div class="row">
                    <p> usted adjudica el contrato a la firma más eficiente con lo cual ESPOL obtiene un beneficio de 20 tokens</p>
                </div>
                <div class="row align-items-end">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button name="opcionCoima" value="" class="btn btn-primary btn-large">Siguiente</button>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <p> El servidor público opto por cogerse el dinero y no beneficiarlo en nada.</p>
                </div>
                <div class="row align-items-end">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button name="opcionCoima" value="" class="btn btn-primary btn-large">Siguiente</button>
                    </div>
                </div>
            {% endif %}
            <div class="col-2">
                    <button name="opcionCoima" value="" class="btn btn-primary btn-large">Siguiente</button>
                </div>
        {% endif %}
        {% if group.aceptarCoima <= 0 and group.aceptarCoima > 3 %}
            <div class="col-2">
                <button name="opcionCoima" value="" class="btn btn-primary btn-large">Siguiente</button>
            </div>
        {% endif %}
{% endblock %}
    {% block app_styles %}

        <style type="text/css">
            ul#id_opcionCoima > li:last-child{
                visibility: hidden;
            }
        </style>

    {% endblock %}


