{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Mensaje
{% endblock %}

{% block content %}
    
    <div class="container-fluit">
        <div class="row">
            <p class="h2">
                Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
            </p>
        </div>
        {% if player.id_in_group == 1 %}
            {% if group.opciones == 0 and group.porcentaje > 4 %}
                <div class="row">
                    <p>
                        La firma menos eficiente decidió no enviar mensaje. Por lo tanto, el contrato se asigna a la firma mas eficiente.
                    </p>
                </div>
            {% endif %}
            {% if group.porcentaje < 4 %}
                <div class="row">
                    <p>
                        <b>EL EVENTO HA SIDO DESCUBIERTO POR LA ENTIDAD REGULADORA</b>. En este caso, tanto usted como la firma menos eficiente, reciben una penalización de 5 tokens. Los cuales serán descontado de su salario.
                    </p>
                </div>
            {% endif %}
        {% endif %}
        {% if player.id_in_group == 2 %}
            {% if group.opciones == 0 and group.porcentaje > 4%}
                <div class="row">
                    <p>Usted ha decidido no enviar mensaje. El servidor público ha elegido a la firma mas eficinete.</p>
                </div>
            {% endif %}
            {% if group.porcentaje < 4 %}
                <div class="row">
                    <p>
                        <b>EL EVENTO HA SIDO DESCUBIERTO POR LA ENTIDAD REGULADORA</b>. En este caso, tanto ESPOL como el servidor público reciben una penalización de 5 tokens. Los cuales serán descontado de su salario.
                    </p>
                </div>
            {% endif %}
        {% endif %}
        
        <div class="row">
            {% next_button %}
        </div>
    </div>
    
    
{% endblock %}
