{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Firma
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p class="h2">
                Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
            </p>
        </div>
        <div class="row">
            <p>
                el servidor público decidió recibir los tokens pero no favorecer a ESPOL</b> 
            </p>
        </div>
        <div class="row">
            {% formfield group.opcionesCogerDinero %}
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-10"></div>
        <div class="col-2">
            {% next_button %}
        </div>
    </div>

{% endblock %}
