{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Firma
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    <div class="row">
        <p class="h2">
            Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
        </p>
    </div>
    <div class="row">
        <p>
            el servidor público decidió recibir los tokens pero no favorecer a ESPOL</b>, 
        </p>
    </div>
    <div class="row">
        {% formfield group.opcionesCogerDinero %}
    </div>
    

    {% next_button %}

{% endblock %}
