{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        Firma
{% endblock %}

{% block content %}

        <div class="container-fluid">
            <div class="row">
                <p class="h2">
                    Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
                </p>
            </div>
        
            <div class="row">
                <p class="text-justify">
                        Usted es el jefe del departamento de consultoria de ESPOL. Usted debe tomar una de las siguientes decisiones:
                </p>
            </div>
            <div class="row">
                {% formfield group.opciones label="" %}
            </div>
            <div class="row align-items-end">
                <div class="col-10"></div>
                <div class="col-2">
                    {% next_button %}
                </div>
            </div>
        </div>
   

{% endblock %}
{% block styles %}
  <style type="text/css">
    #otree-body {
      width: 85%;
    }
    .row{
      margin-right: 1%;
    }

    .page-header{
        margin-top: 0%;
    }
    ul#id_opciones > li {
        display:inline;
    }
  </style>

{% endblock %}
