{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Servidor Público
    
{% endblock %}

{% block content %}
    <div class="row">
        <p class="h2">
            Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
        </p>
    </div>
    {% if group.porcentaje >= 4 %}
        <div class="row">
            {% formfield group.aceptarCoima %}
            {{form.aceptarCoima.errors}}
        </div>
        <div class="row">
            {% next_button %}
        </div>
        
        <!-- Modal -->
        <div id="myModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">probabilidad de ser atrapado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p >tienes una probabilidad alta de que no seas atrapado... tu probabilidad es <b>{{group.porcentaje}}</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <p>El porcentaje de exito de la tranaccion es muy por debajo, por lo tanto ambas partes han sido penalizados.</p>    
        </div>
        {{form.aceptarCoima.errors}}
        <div class="row">
            <div>
                <button name="aceptarCoima" value="0" class="btn btn-primary btn-large">Siguiente</button>
            </div>
        </div>
    {% endif %}
    {% block app_styles %}

        <style type="text/css">
            ul#id_aceptarCoima > li:last-child{
                visibility: hidden;
            }
        </style>

    {% endblock %}

    {% block scripts %}
        <script>
            $(document).ready(function(){
                $('#id_aceptarCoima').click(function(){
                    $('#myModal').modal('show')
                });
            });
        </script>
    {% endblock %}
        
    

{% endblock %}