{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Resultados
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="cont_promedio" class="col-sm-12">

            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Variables
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="4" class="text-center">Variables</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="table-primary">PC</th>
                                    <td colspan="3" class="text-center">Promedio de Contribución </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-primary">DPC</th>
                                    <td colspan="3" class="text-center">Dispersión Promedio Contribución </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-success">PCH</th>
                                    <td colspan="3" class="text-center">Promedio de Contribución Hombres </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-success">DPCH</th>
                                    <td colspan="3" class="text-center">Dispersión Promedio de Contribución Hombres </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-danger">PCM</th>
                                    <td colspan="3" class="text-center">Promedio de Contribución Mujeres </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-danger">DPCM</th>
                                    <td colspan="3" class="text-center">Dispersión Promedio de Contribución Mujeres </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div id="cont_ganancia" class="col-sm-12">

            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                            Variables
                    </button>
                    <div class="collapse" id="collapseExample1">
                        <div class="card card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="4" class="text-center">Variables</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="table-primary">GT</th>
                                        <td colspan="3" class="text-center">Ganancia Total </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="table-success">GTH</th>
                                        <td colspan="3" class="text-center">Ganancia Total Hombres </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="table-danger">GTM</th>
                                        <td colspan="3" class="text-center">Ganancia Total Mujeres </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="row">
            <div id="genero" class="col-sm-7"></div>
            <div id="edades" class="col-sm-5"></div>
        </div>
    </div>


{% endblock %}

{% block app_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        $(document).ready(function(){
            var d3 = Plotly.d3;

            var WIDTH_IN_PERCENT_OF_PARENT = 100
            
            var contotal = {
                //data
                x: [{% for i in rondas %} {{i|json}}, {%endfor%}],
                y: [{% for i in promedio %} {{i|json}}, {%endfor%}],
                type: 'scatter',
                marker: {color: '#6474fb'},
                name:'PC',
            };
            var caja1 = {
                x: [{% for i in cr1 %} {{i|json}}, {%endfor%}],
                y: [{% for i in ct1 %} {{i|json}}, {%endfor%}],
                type: 'box',
                marker: {color: '#6474fb'},
                visible : "legendonly",
                name: 'DPC',
                boxpoints: false,
              };
            var conH = {
                //data
                x: [{% for i in rondas %} {{i|json}}, {%endfor%}],
                y: [{% for i in con_hombres %} {{i|json}}, {%endfor%}],
                type: 'scatter',
                marker: {color: '#62db51'},
                name:'PCH',
            };
            var caja2 = {
                x: [{% for i in rh %} {{i|json}}, {%endfor%}],
                y: [{% for i in ch1 %} {{i|json}}, {%endfor%}],
                type: 'box',
                visible : "legendonly",
                marker: {color: '#62db51'},
                name: 'DPCH',
                boxpoints: false,
              };
            var conM = {
                //data
                x: [{% for i in rondas %} {{i|json}}, {%endfor%}],
                y: [{% for i in con_mujeres %} {{i|json}}, {%endfor%}],
                type: 'scatter',
                marker: {color: '#f94d00'},
                name:'PCM',
            };
            var caja3 = {
                x: [{% for i in rm %} {{i|json}}, {%endfor%}],
                y: [{% for i in cm1 %} {{i|json}}, {%endfor%}],
                type: 'box',
                visible : "legendonly",
                marker: {color: '#f94d00'},
                name: 'DPCM',
                boxpoints: false,
              };
            var layaout ={
                title: 'Contribuciones',
                yaxis: {rangemode: 'tozero',
                    zeroline: true
                }
            };
                        
            var data = [contotal,caja1,conH,caja2,conM,caja3]   

            var gd3 = d3.select('#cont_promedio')
                .append('div')
                .style({
                    width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                    height: 'AUTO'
                });

            var gd = gd3.node();

            Plotly.plot(gd,data,layaout)

            //segunda grafica
            var graf2 = Plotly.d3;

            var WIDTH_IN_PERCENT_OF_PARENT = 100
            
            var ganT = {
                //data
                x: [{% for i in rondas %} {{i|json}}, {%endfor%}],
                y: [{% for i in ganancia %} {{i|json}}, {%endfor%}],
                type: 'scatter',
                marker: {color: '#6474fb'},
                name:'GT',
            };
            var ganh = {
                //data
                x: [{% for i in rondas %} {{i|json}}, {%endfor%}],
                y: [{% for i in ganancia_h %} {{i|json}}, {%endfor%}],
                type: 'scatter',
                marker: {color: '#62db51'},
                name:'GTH',
            };
            var ganM = {
                //data
                x: [{% for i in rondas %} {{i|json}}, {%endfor%}],
                y: [{% for i in ganancia_m %} {{i|json}}, {%endfor%}],
                type: 'scatter',
                marker: {color: '#f94d00'},
                name:'GTM',
            };
            var layaout2 ={
                title: 'Ganancias',
                yaxis: {rangemode: 'tozero',
                    zeroline: true
                }
            };
                        
            var data2 = [ganT,ganh,ganM]   

            var graficad2 = graf2.select('#cont_ganancia')
                .append('div')
                .style({
                    width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                    height: 'AUTO'
                });

            var grafica2 = graficad2.node();

            Plotly.plot(grafica2,data2,layaout2)
                
            //tercera grafica
            var graf3 = Plotly.d3;

            var WIDTH_IN_PERCENT_OF_PARENT = 100
            
            var trace3 = {
                values: [{% for i in pGenero %} {{i|json}}, {%endfor%}],
                labels: ['Hombres', 'Mujeres'],
                type: 'pie'
              };
            var layaout3 ={
                title: 'Género',
                height: 400,
                width: 500
                
            };
                        
            var data3 = [trace3]   

            var graficad3 = d3.select('#genero')
                .append('div')
                .style({
                    width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                    height: 'AUTO'
                });

            var graf3 = graficad3.node();

            Plotly.plot(graf3,data3,layaout3)
            
            //cuarta grafica
            var graf4 = Plotly.d3;

            var WIDTH_IN_PERCENT_OF_PARENT = 100
            
            var edadP = {
                x: ['Edades'],
                y: [{{prom_edad|json}}],
                name: 'Total',
                type: 'bar'
            };
            var edadH = {
                x: ['Edades'],
                y: [{{prom_edadH|json}}],
                name: 'Hombres',
                type: 'bar'
            };
            var edadM = {
                x: ['Edades'],
                y: [{{prom_edadM|json}}],
                name: 'Mujeres',
                type: 'bar'
            };
            var layaout4 ={
                title: 'Edad',
                barmode: 'group',  
            };
                        
            var data4 = [edadP,edadH,edadM]   

            var graficad3 = d3.select('#edades')
                .append('div')
                .style({
                    width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                    height: 'AUTO'
                });

            var graf4 = graficad3.node();

            Plotly.plot(graf4,data4,layaout4)

            window.onresize = function() {
                Plotly.Plots.resize(gd);
                Plotly.Plots.resize(grafica2);
                Plotly.Plots.resize(graf3);
            };
        });
    </script>
{% endblock  %}