{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}"/>       

        <p class="text-justify">
            En este estudio, usted estará en un grupo formado aleatoriamente de {{ Constants.players_per_group }} participantes. Cada participante en el grupo recibe {{ Constants.endowment }} puntos. El grupo tiene la oportunidad de emprender en un proyecto conjunto. Cada participante en el grupo decide cuánto aportar al proyecto. La contribución puede ser cualquier número entero de 0 a {{ Constants.endowment }} puntos.
        </p>
        <p class="text-justify">
            Las ganancias del proyecto se calculan de la siguiente manera: se suman las contibuciones de los {{ Constants.players_per_group }} participantes, la contribución total se multiplica por un factor de  {{ Constants.multiplier }}, y la cantidad resultante es el total de ingresos del proyecto, que se divide equitativamente entre los  {{ Constants.players_per_group }}
            participantes. Su pago equivale a  sus ganancias del proyecto, más la cantidad que no contribuyó.
        </p>
        <p class="text-justify">
            Se jugarán {{ Constants.num_rounds }} rondas en este esquema. La ganacia total será la suma de las ganancias en cada una de las rondas.
        </p>
    </div>
</div>
