{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    ¡Bienvenido!
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <p class="text-justify">Gracias por participar en este experimento. La sesión completa tiene una duración aproximada de: <b><u> una hora.</u></b> </p>
            <p class="text-justify">El estudio es financiado por fondos de investigación de proyectos del CIEC y la FCSH y tiene por objetivo estudiar los mecanismos de toma de decisiones individuales. Su participación en este experimento es voluntaria y esperamos que encuentre interesante participar en él.</p>
            <p class="text-justify">Usted recibirá un pago fijo de <b><u>USD 2.00</u></b> por completar la sesión, además tendrá la oportunidad de ganar una suma interesante de dinero adicional que <b><u>dependerá tanto de las decisiones que tome en las tareas propuestas, las decisiones de los demás y de la suerte.</u></b></p>
            <p class="text-justify">Las instrucciones son sencillas y usted se beneficiará considerablemente siguiéndolas. Por favor léalas detenidamente antes de iniciar</p>
            <p class="text-justify"><b><u>Las tareas no están diseñadas para evaluarlo.</u></b> Al contrario, queremos conocer qué decisiones tomaría en las situaciones propuestas. No hay respuestas correctas o incorrectas. <b><u>La única respuesta correcta es la que usted tomaría según sus  preferencias.</u></b></p>
            <p class="text-justify"></p>
            <p class="text-justify">El experimento consta de X secciones, Y tareas de decisión y una sección de cuestionarios. Las instrucciones se detallan en cada sección oportunamente:</p>
            <p class="text-justify">Las Tareas 1, 2 y 3; consisten en problemas de decisión. <b><u>Usted deberá seleccionar las alternativas de su preferencia.</u></b></p>
            <!-- <p class="text-justify">El experimento consta de 3 secciones, 2 tareas de decisión y una sección de cuestionarios. Las instrucciones se detallan en cada sección oportunamente:</p>
            <p class="text-justify">Las Tareas 1 y 2; consisten en problemas de decisión. <b><u>Usted deberá seleccionar las alternativas de su preferencia.</u></b></p> -->
            <!-- <p class="text-justify">La cuarta sección consiste en algunas preguntas acerca de usted.</p> -->
            <p class="text-justify">La tercera sección consiste en algunas preguntas acerca de usted.</p>
            <p class="text-justify">La información obtenida es de carácter confidencial, será vinculada a <b><u>registros institucionales que serán utilizados exclusivamente con fines investigativos y únicamente tendrán acceso a ella el equipo de investigadores.</u></b></p>
            <p class="text-justify">Al concluir el experimento le pediremos que <b><u>espere hasta ser llamado</u></b>, uno a la vez, para recibir su pago correspondiente de manera privada. Una vez recibido su pago puede retirarse.</p>
            <p class="text-justify"><b><u>Está prohibido</u></b> hablar o comunicarse con otros participantes durante la sesión. Tampoco se permite el uso de dispositivos móviles. En caso de violar alguna de estas normas, le pediremos que abandone la sesión y no recibirá pago alguno.</p>
            <p class="text-justify">Por favor ingrese su número de matrícula. Al hacerlo usted declara estar de acuerdo con las instrucciones recibidas:</p>
        </div>
        <div class="row">
            {% for field in form %}
                {% formfield field %}
            {% endfor %}
        </div>
        <div class="row">
            <p class="text-justify">En este momento, <b><u>si tiene alguna pregunta por favor levante la mano</u></b> y el asistente del experimento se acercará para responderla. </p>
            <p class="text-justify">Si no tiene preguntas, por favor de clic en  <b><u>Siguiente</u></b>  para continuar.</p>
        </div>
        <div class="row">
            {% next_button %}
        </div>
    </div>

    

{% endblock %}

{% block styles %}
  <style type="text/css">
    .otree-body {
      max-width: 95%;
      margin-top: -20px
    }
    #id_matricula{
      text-align: center;
    }
    .row{
      margin-right: 1%;
    }

    .page-header{
        margin-top: 0%;
    }
  </style>

{% endblock %}
