{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Etapa 4
{% endblock %}

{% block content %}
    {% if group.coinsJ1 == 1 %}
        <div class="table-responsive table table-bordered">
            <table class="table">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>47</td>
                        <td>67</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>53</td>
                        <td>48</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}

    {% if group.coinsJ1 == 2 %}
        <div class="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>46</td>
                        <td>66</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>56</td>
                        <td>51</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    {% if group.coinsJ1 == 3 %}
        <div class ="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>45</td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>59</td>
                        <td>54</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    {% if group.coinsJ1 == 4 %}
        <div class="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>44</td>
                        <td>64</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>62</td>
                        <td>57</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    {% if group.coinsJ1 == 5 %}
        <div class="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>43</td>
                        <td>63</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>65</td>
                        <td>50</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    {% if group.coinsJ1 == 6 %}
        <div class="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>42</td>
                        <td>62</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>68</td>
                        <td>63</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    {% if group.coinsJ1 == 7 %}
        <div class="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>41</td>
                        <td>61</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>71</td>
                        <td>66</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    {% if group.coinsJ1 == 8 %}
        <div class="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>40</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>74</td>
                        <td>69</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    {% if group.coinsJ1 == 9 %}
        <div class="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>39</td>
                        <td>59</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>77</td>
                        <td>72</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    {% if group.coinsJ1 == 10 %}
        <div class="table-responsive">
            <table class="table table-bordered">   
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">#</th>
                        <th scope="col">A</th>
                        <th scope="col">B</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Firma</th>
                        <td>38</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <th scope="row">Servidor Público</th>
                        <td>80</td>
                        <td>75</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% formfield group.opcionCoima %}
        </div>
        <div class="row">
            {% next_button %}
        </div>
    {% endif %}
    
{% endblock %}
