{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Competencia de Duolipo a la Bertrand
{% endblock %}


{% block content %}

<div class="row" style="margin-top:4%;margin-bottom:5%;">

  <div id="tester" class="col-sm-12"></div>

</div>

<div class="row">
  <Label><strong>Simbologia</strong></Label><br>
  <div class="col-sm-5" style="margin-top:0%;margin-bottom:2%;margin-left:6%">
    <label for="text"><strong>PPT</strong> = Precio Promedio Total</label><br>
    <label for="text"><strong>PPT Disp.</strong> = Dispersión de Precio Promedio Total</label><br>
    <label for="text"><strong>PPH</strong> = Precio Promedio Hombres</label><br>
    <label for="text"><strong>PPH Disp.</strong> = Dispersión de Precio Promedio Hombres</label><br>
  </div>
  <div class="col-sm-5">
      <label for="text"><strong>PPM</strong> = Precio Promedio Mujeres</label><br>
      <label for="text"><strong>PPM Disp.</strong> = Dispersión de Precio Promedio Mujeres</label><br>
      <label for="text"><strong>CMG</strong> = Costo Marginal</label><br>
  </div>
</div>

<div class="row" style="margin-top:4%;margin-bottom:5%;">

  <div id="bst" class="col-sm-12"></div>

</div>

<div class="row">
  <Label><strong>Simbologia</strong></Label><br>
  <div class="col-sm-5" style="margin-top:0%;margin-bottom:2%;margin-left:6%">
    <label for="text"><strong>BSPT</strong> = Beneficio Social Promedio Total</label><br>
    <label for="text"><strong>BST Disp.</strong> = Dispersión de Beneficio Social Total</label><br>
    <label for="text"><strong>BSPG</strong> = Beneficio Social Promedio por Grupos</label><br>
    <label for="text"><strong>BSG Disp.</strong> = Dispersión de Beneficio Social por Grupos</label><br>
    <label for="text"><strong>GMax</strong> = Ganancia Grupal Máxima</label><br>
  </div>
  <div class="col-sm-5">
    <label for="text"><strong>BSPTH</strong> = Beneficio Social Promedio Total Hombres</label><br>
    <label for="text"><strong>BSPTH Disp.</strong> = Dispersión de Beneficio Social Total Hombres</label><br>
    <label for="text"><strong>BSPTM</strong> =  Beneficio Social Promedio Total Mujeres</label><br>
    <label for="text"><strong>BSPTM Disp.</strong> = Dispersión de Beneficio Social Total Mujeres</label><br>
  </div>
</div>

<div class="row" style="margin-top:4%;margin-bottom:5%;">

    <div class="col-sm-5">
        <canvas id="HvsM" width="600" height="350"></canvas>
    </div>
  
    <div class="col-sm-5">
        <canvas id="edades" width="600" height="350"></canvas>
    </div>
  
</div>


{% next_button %}

{% endblock %}

{% block app_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script>
    $(document).ready(function() {
        var d3 = Plotly.d3;
        
        var WIDTH_IN_PERCENT_OF_PARENT = 100;
        
        var gd3 = d3.select('#tester')
            .append('div')
            .style({
                width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                height: 'AUTO',
                class : 'col-sm-12'
            });
        
        var gd = gd3.node();
        
        var trace1 = {
          x: [{% for i in rondas_cajas %} ,{{i|json}} {%endfor%}],
          y: [{%for i in precios%} ,{{i|json}} {%endfor%}],
          type: 'box',
          name: 'PPT Disp.'
        };

        var trace2 = {
          x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
          y: [{%for i in prom_precio%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: 'PPT',
        };

        var trace3 = {
          x: [{% for i in rondas_cajas_hom %} ,{{i|json}} {%endfor%}],
          y: [{%for i in precios_hom%} ,{{i|json}} {%endfor%}],
          type: 'box',
          name: 'PPTH Disp.'
        };

        var trace4 = {
          x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
          y: [{%for i in prom_precio_hom%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: 'PPTH',
        };
        var trace5 = {
          x: [{% for i in rondas_cajas_muj %} ,{{i|json}} {%endfor%}],
          y: [{%for i in precios_muj%} ,{{i|json}} {%endfor%}],
          type: 'box',
          name: 'PPTM Disp.'
        };

        var trace6 = {
          x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
          y: [{%for i in prom_precio_muj%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: 'PPTM',
        };

        var trace7 = {
          x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
          y: [{%for i in cmg_const%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: 'CMG',
        };
      
        var data = [ trace1, trace2, trace3, trace4, trace5, trace6, trace7];
        
        var layout = {
          title:'<b>Precio Promedio por Ronda<b>',
          legend: {
            x: 1,
            y: 0.5,
            traceorder: 'normal',
            font: {
              family: 'sans-serif',
              size: 12,
              color: '#000'
            },
            bgcolor: '#E2E2E2',
            bordercolor: '#FFFFFF',
            borderwidth: 2
          },
          yaxis: {rangemode: 'tozero',
            zeroline: true,
            title: 'Puntos'
          },
          xaxis: {
            title: 'Rondas'
          }
        };
        
        Plotly.newPlot(gd, data, layout,{scrollZoom: true});
        
        window.onresize = function() {
            Plotly.Plots.resize(gd);
        };
        
        });
  </script>

  <script>
    $(document).ready(function() {
      var d3 = Plotly.d3;
      
      var WIDTH_IN_PERCENT_OF_PARENT = 100;
      
      var gd3 = d3.select('#bst')
          .append('div')
          .style({
              width: WIDTH_IN_PERCENT_OF_PARENT + '%',
              height: 'AUTO',
              class : 'col-sm-12'
          });
      
      var gd = gd3.node();
      
      var trace1 = {
        x: [{% for i in rondas_cajas %} ,{{i|json}} {%endfor%}],
        y: [{%for i in ganancias_total%} ,{{i|json}} {%endfor%}],
        type: 'box',
        name: 'BST Disp.'
      };

      var trace2 = {
        x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
        y: [{%for i in ganancia_prom_total%} ,{{i|json}} {%endfor%}],
        mode: 'lines+markers',
        name: 'BSPT',
      };

      var trace3 = {
        x: [{% for i in rondas_cajas_grupal %} ,{{i|json}} {%endfor%}],
        y: [{%for i in ganancias_group%} ,{{i|json}} {%endfor%}],
        type: 'box',
        name: 'BSG Disp.'
      };

      var trace4 = {
        x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
        y: [{%for i in ganancia_prom_group%} ,{{i|json}} {%endfor%}],
        mode: 'lines+markers',
        name: 'BSPG',
      };

      var trace5 = {
        x: [{% for i in rondas_cajas_hom %} ,{{i|json}} {%endfor%}],
        y: [{%for i in ganancias_hom%} ,{{i|json}} {%endfor%}],
        type: 'box',
        name: 'BSTH Disp.'
      };

      var trace6 = {
        x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
        y: [{%for i in ganancia_prom_hom%} ,{{i|json}} {%endfor%}],
        mode: 'lines+markers',
        name: 'BSPTH',
      };
      var trace7 = {
        x: [{% for i in rondas_cajas_muj %} ,{{i|json}} {%endfor%}],
        y: [{%for i in ganancias_muj%} ,{{i|json}} {%endfor%}],
        type: 'box',
        name: 'BSPTM Disp.'
      };

      var trace8 = {
        x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
        y: [{%for i in ganancia_prom_muj%} ,{{i|json}} {%endfor%}],
        mode: 'lines+markers',
        name: 'BSPTM',
      };

      var trace9 = {
        x: [{% for i in total_grupos %} ,{{i|json}} {%endfor%}],
        y: [{%for i in const_max%} ,{{i|json}} {%endfor%}],
        mode: 'lines+markers',
        name: 'GMax',
      };
    
      var data = [ trace1, trace2, trace3, trace4, trace5, trace6, trace7, trace8, trace9];
      
      var layout = {
        title:'<b>Beneficio Social<b>',
        legend: {
          x: 1,
          y: 0.5,
          traceorder: 'normal',
          font: {
            family: 'sans-serif',
            size: 12,
            color: '#000'
          },
          bgcolor: '#E2E2E2',
          bordercolor: '#FFFFFF',
          borderwidth: 2
        },
        yaxis: {rangemode: 'tozero',
          zeroline: true,
          title: 'Puntos'
        },
        xaxis: {
          title: 'Rondas'
        }
      };
      
      Plotly.newPlot(gd, data, layout,{scrollZoom: true});
      
      window.onresize = function() {
          Plotly.Plots.resize(gd);
      };
      
      });
  </script>

  <script> 
    $(document).ready(function(){
      
      new Chart(document.getElementById("HvsM"), {
        type: 'doughnut',
        data: {
          labels: ["Hombres", "Mujeres"],
          datasets: [{
            label: "Cantidad Hombres vs Mujeres",
            backgroundColor: ["#20c997", "#fd7e14"],
            data: [ {{m|json}} , {{f|json}} ]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Género de los Participantes'
          },
          animation: {
            animateScale: true,
            animateRotate: true
          },
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex]
                var currentValue = dataset.data[tooltipItem.index]       
                return currentValue + "%"
              }
            }
          }
        }
      })
      new Chart(document.getElementById("edades"), {
        type: 'bar',
        data: {
          labels: ["Hombres", "Mujeres"],
          datasets: [{
            label: "Cantidad Hombres vs Mujeres",
            backgroundColor: ["#E2DB05", "#8105E2"],
            data: [{% for i in edades %} {{i|json}}, {%endfor%} {{edades}} ]
          }]
        },
        options: {
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
          },
          title: {
            display: true,
            text: 'Promedio de Edad de los Participantes'
          },
          animation: {
            animateScale: true,
            animateRotate: true
          }
        }
      })
    });
  </script>
    
{% endblock %}