{% load otree static %}
<div class="card bg-light instructions">
    <div class="card-body">
        <p class="text-justify">
            Su tarea es fijar el precio de venta de un bien (entre 0 y 20), considerando que el costo marginal de producir dicho bien es de cmg= 4 ume (unidades monetarias experimentales). Usted será emparejado aleatoriamente con otro participante del salón quien tendrá también que fijar un precio de venta. La demanda está compuesta por 100 consumidores, quienes están dispuestos a consumir el bien a quien lo oferte a un menor precio. Es decir, si usted propone un precio menor al que propone el otro participante, usted absorverá toda la demanda y su ganancia será igual a:
        </p>

        <p class="text-center font-weight-bold">
            <i>Ganacia=PrecioFijado(100)ume</i>
        </p>

        <p class="text-justify">
            Caso contrario, si usted propone un precio mayor al propuesto por el otro participante, sus ganancias serán 0 ume.
            Si usted y el otro participante proponen el mismo precio, la demanda se repartirá en partes iguales, por lo tanto, sus ganancias, así como las del otro participante, serán:
        </p>

        <p class="text-center font-weight-bold">
            <i>Ganacia=PrecioFijado (100/2)ume</i>
        </p>

        <p class="text-justify">
            En total se jugarán 10 rondas con este esquema, las ganancias de cada ronda se irán presentando luego de que ambos participantes tomen su decisión. El premio final será la suma de las ganancias en cada uno de las 10 rondas jugadas.
            Para determinar sus ganancias se empleará la siguiente tasa de cambio:
        </p>

        <p class="text-center font-weight-bold">
            <i>ume = $0.01</i>
        </p>
    </div>
</div>
