{% load otree static %}
<div class="card bg-light instructions">
    <div class="card-body">
        <p class="text-justify">
            Usted ha sido emparejado, de forma aleatoria y anónima, con otro participante de la sesión. Cada uno de ustedes representa a una empresa. Cada empresa fabrica una unidad del mismo producto a un costo de <b>4 puntos</b>.
        </p>
        <p class="text-justify">
            Cada empresa determina <b>el precio de su producto</b> de manera privada, y éste puede ser cualquier número entre 0 y 20 puntos. Existen 10 compradores en el mercado y siempre comprarán el producto al precio más bajo. Su ganancia es el precio al que desea vender la unidad menos el costo de producirla (4 puntos), multiplicado por el número de compradores (10).    
        </p>
        <p class="text-justify">
            Si su empresa propone el precio más bajo, entonces su ganancia es:
        </p>
        <p class="text-center font-weight-bold">
            <i>Ganancia= (Precio - 4)*(10) puntos</i>
        </p>

        <p class="text-justify">
            Por el contrario, si su empresa propone el precio más alto, su ganancia es de 0 puntos.
            Si ambas empresas proponen el mismo precio, los compradores se distribuyen en partes iguales, y; por lo tanto, sus ganancias son:
        </p>

        <p class="text-center font-weight-bold">
            <i>Ganancia= (Precio - 4)*(5) puntos</i>
        </p>

        <p class="text-justify">
            Las empresas enfrentarán 10 rondas de decisión. Las ganancias de su empresa en cada ronda se presentan luego de que ambas empresas hayan determinado su precio y se realice el resultado de las transacciones en el mercado.
        </p>

    </div>
</div>
