{% load otree static %}
<div class="card bg-light instructions">
    <div class="card-body">
        <p class="text-justify">
            Usted ha sido emparejado de forma aleatoria y anónima con otro participante. Cada uno de ustedes representará a una empresa. Cada empresa fabrica una unidad del mismo producto a un costo de 4 <b>puntos</b>.
        </p>
        <p class="text-justify">
            Cada uno de ustedes fija su precio de manera privada, cualquier precio entre 0 y 20 puntos. Existen 10 compradores en el mercado y siempre comprarán el producto al precio más bajo. Su ganancia es su precio menos el costo de producir (4) multiplicado por el número de compradores (10).    
        </p>
        <p class="text-justify">
            Si usted propone el precio más bajo, entonces su ganancia es:
        </p>
        <p class="text-center font-weight-bold">
            <i>Ganancia= (Precio - 4)*(10) puntos</i>
        </p>

        <p class="text-justify">
            Caso contrario, si usted propone el precio más alto, su ganancia es de 0 puntos.
            Si usted y el otro participante proponen el mismo precio, los compradores se repartirán en partes iguales, por lo tanto, su ganancia, así como la del otro participante, será:
        </p>

        <p class="text-center font-weight-bold">
            <i>Ganancia= (Precio - 4)*(5) puntos</i>
        </p>

        <p class="text-justify">
            Se jugarán 10 rondas en este esquema, las ganancias de cada ronda se irán presentando luego de que ambos participantes tomen su decisión. El premio final será la suma de las ganancias en cada uno de las 10 rondas.
            Para determinar su pago se empleará la siguiente tasa de cambio:
        </p>

        <p class="text-center font-weight-bold">
            <i>1 punto = $0.01</i>
        </p>
    </div>
</div>
