{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Enviar Mensaje
{% endblock %}

{% block content %}
  
    <div class="col-md-12 well">
      {% if control == 1 %}
      <h4>Definir la contribución mínima</h4>
      {% formfield group.contribucion_minima with label="La contribución mínima en esta ronda será:" %}
      
      {% endif %}

      {% if control == 2 %}
      <h4>Definir el número de puntos para el mensaje</h4>
      {% formfield group.contribucion_minima with label="Se asignarán puntos para reducir ganancias a quienes aporten menos de:" %}
      {% endif %}

      <div class="row">
          {% next_button %}
      </div>
    </div>

    
{% endblock %}

{% block styles %}
<style type="text/css">
  .row{
    margin: 0 auto;
  }

</style>
{% endblock %}
