{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
  Final de la fase 1
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 well">
      <br>
      <h4>La fase 1 ha finalizado.</h4>
      <h4>Por favor de clic en siguiente para leer las instrucciones de la fase 2.</h4>
      <br>
      <div class="row">
        {% next_button %}
      </div>
    </div>
    <div class="col-md-2"></div>
        
  </div>
  


{% endblock %}



{% block styles %}
<style type="text/css">

  .row{
    margin: 0 auto;
  }

  .ejemplo{
    background: #ccddff;
  }
  
  div.panel-heading.ejemplo-titulo{
    background: #80aaff;
  }
    
  .otree-body{
    width: 85%;
  }
  
  .page-header{
    padding-top: 5px;
    margin-top: 5px;
  }

  .formula{
    padding: 1%;
    text-align: center;
    background: bisque;
    border: solid;
    width: 100%;
  }

  .tabla > tbody > tr, .tabla > tbody > tr > td{
    border: 2px solid;
    vertical-align: middle;
  }

  div.horizontal {
    display: flex;
    justify-content: center;
  }
  div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img{
    width: 300px;
    height: 300px;
  }

  .page-header{
    margin-top: 10%;
  }
</style>

{% endblock %}
