{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Dilema del Prisionero
{% endblock %}


{% block content %}

<div class="row" style="margin-top:4%;margin-bottom:5%;">

  <div class="col-sm-12">
      <canvas id="pairs" width="800" height="450"></canvas>
  </div>

</div>

<div class="row" style="margin-top:4%;margin-bottom:5%;">

  <div class="col-sm-6">
      <canvas id="HvsM" width="600" height="350"></canvas>
  </div>

  <div class="col-sm-6">
      <canvas id="edades" width="600" height="350"></canvas>
  </div>

</div>

<div class="row" style="margin-top:4%;margin-bottom:5%;">

  <div class="col-sm-6">
    <canvas id="Mujdilemma" width="600" height="350"></canvas>
  </div>

  <div class="col-sm-6">
    <canvas id="Homdilemma" width="600" height="350"></canvas>
  </div>

</div>


{% next_button %}

{% endblock %}

{% block app_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script> 
       $(document).ready(function(){
          m = {{m}}
          f = {{f}}
          porc_muj_con = {{porc_muj_con}}
          porc_muj_cal = {{porc_muj_cal}}
          porc_hom_con = {{porc_hom_con}}
          prom_edad_hom = {{prom_edad_hom}}
          pair_dif = {{pair_dif}}
          pair_no_conf = {{pair_no_conf}}
          pair_conf = {{pair_conf}}

          new Chart(document.getElementById("pairs"), {
            type: 'bar',
            data: {
              labels: ["Confesaron", "Callaron", "Respuesta Diferente"],
              datasets: [{
                label: "Porcentaje Respecto al total de grupos participantes",
                backgroundColor: ["#FCA802", "#9AED0B", "#084B8A"],
                data: [  pair_conf, pair_no_conf, pair_dif ]
              }]
            },
            options: {
              title: {
                display: true,
                text: 'Afinidad de las Parejas al Decidir su Respuesta'
              },
              animation: {
                animateScale: true,
                animateRotate: true
              },
              tooltips: {
                callbacks: {
                  label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex]
                    var currentValue = dataset.data[tooltipItem.index]       
                    return currentValue + "%"
                  }
                }
              }
            }
          })

          new Chart(document.getElementById("HvsM"), {
              type: 'doughnut',
              data: {
                labels: ["Hombres", "Mujeres"],
                datasets: [{
                  label: "Cantidad Hombres vs Mujeres",
                  backgroundColor: ["#20c997", "#fd7e14"],
                  data: [ m , f ]
                }]
              },
              options: {
                title: {
                  display: true,
                  text: 'Género de los Participantes'
                },
                animation: {
                  animateScale: true,
                  animateRotate: true
                },
                tooltips: {
                  callbacks: {
                    label: function(tooltipItem, data) {
                      var dataset = data.datasets[tooltipItem.datasetIndex]
                      var currentValue = dataset.data[tooltipItem.index]       
                      return currentValue + "%"
                    }
                  }
                }
              }
          })

          new Chart(document.getElementById("Mujdilemma"), {
            type: 'pie',
            data: {
              labels: ["Confesaron", "Callaron"],
              datasets: [{
                label: "Mujeres en Experimento",
                backgroundColor: ["#CB14CB", "#E31D52"],
                data: [ porc_muj_con , porc_muj_cal ]
              }]
            },
            options: {
              title: {
                display: true,
                text: 'Comportamiento de las Mujeres en el Experimento Dilema del Prisionero'
              },
              animation: {
                animateScale: true,
                animateRotate: true
              },
              tooltips: {
                callbacks: {
                  label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex]
                    var currentValue = dataset.data[tooltipItem.index]       
                    return currentValue + "%"
                  }
                }
              }
            }
          })

          new Chart(document.getElementById("Homdilemma"), {
            type: 'pie',
            data: {
              labels: ["Confesaron", "Callaron"],
              datasets: [{
                label: "Hombres en Experimento",
                backgroundColor: ["#29EC91", "#037EA7"],
                data: [ porc_hom_con , {{porc_hom_cal}} ]
              }]
            },
            options: {
              title: {
                display: true,
                text: 'Comportamiento de los Hombres en el Experimento Dilema del Prisionero'
              },
              animation: {
                animateScale: true,
                animateRotate: true
              },
              tooltips: {
                callbacks: {
                  label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex]
                    var currentValue = dataset.data[tooltipItem.index]       
                    return currentValue + "%"
                  }
                }
              }
            }
          })

          new Chart(document.getElementById("edades"), {
            type: 'bar',
            data: {
              labels: ["Hombres", "Mujeres"],
              datasets: [{
                label: "Cantidad Hombres vs Mujeres",
                backgroundColor: ["#FCA802", "#9AED0B"],
                data: [ prom_edad_hom , {{prom_edad_muj}} ]
              }]
            },
            options: {
              title: {
                display: true,
                text: 'Promedio de Edad de los Participantes'
              },
              animation: {
                animateScale: true,
                animateRotate: true
              }
            }
          })
        });
    </script>
    
{% endblock %}