{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Graficas de Sesión Dilema del Prisionero
{% endblock %}


{% block content %}

<div class="row" style="margin-top:4%;margin-bottom:0%;">
    <div id="tester" class="col-sm-12">
    </div>
</div>
<div class="row">
    <Label><strong>Simbologia</strong></Label><br>
    <div class="col-sm-5" style="margin-top:0%;margin-bottom:2%;margin-left:6%">
      <label for="text"><strong>Eq. Nash</strong> = Equilibrio Nash (Grupos No Cooperaron)</label><br>
      <label for="text"><strong>Eq. Pareto</strong> = Equilibrio Pareto (Grupos Cooperaron)</label><br>
      <label for="text"><strong>D</strong> = Grupos Respuesta Diferente</label><br>
      <label for="text"><strong>HC</strong> = Hombres Cooperaron</label><br>
    </div>
    <div class="col-sm-4">
        <label for="text"><strong>HNC</strong> = Hombres No Cooperaron</label><br>
        <label for="text"><strong>MC</strong> = Mujeres Cooperaron</label><br>
        <label for="text"><strong>MNC</strong> = Mujeres No Cooperaron</label><br>
    </div>
</div>

<div class="row" style="margin-top:4%;margin-bottom:5%;">

  <div class="col-sm-6">
      <canvas id="HvsM" width="600" height="350"></canvas>
  </div>

  <div class="col-sm-6">
      <canvas id="edades" width="600" height="350"></canvas>
  </div>

</div>



{% next_button %}

{% endblock %}

{% block app_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script>

        $(document).ready(function() {
        var d3 = Plotly.d3;
        
        var WIDTH_IN_PERCENT_OF_PARENT = 100;
        
        var gd3 = d3.select('#tester')
            .append('div')
            .style({
                width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                height: 'AUTO',
                class : 'col-sm-12'
            });
        
        var gd = gd3.node();
        
        var trace2 = {
          x: [{% for i in rondas %} ,{{i|json}} {%endfor%}],
          y: [{%for i in pair_conf%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: '% Eq. Pareto',
        };
        
        var trace1 = {
          x: [{% for i in rondas %} ,{{i|json}} {%endfor%}],
          y: [{%for i in pair_no_conf%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: '% Eq. Nash'
        };
        
        var trace3 = {
          x: [{% for i in rondas %} ,{{i|json}} {%endfor%}],
          y: [{%for i in pair_dif%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: '% D'
        };
        
        var trace4 = {
          x: [{% for i in rondas %} ,{{i|json}} {%endfor%}],
          y: [{%for i in hc%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: '% HC'
        };
        
        var trace5 = {
          x: [{% for i in rondas %} ,{{i|json}} {%endfor%}],
          y: [{%for i in hnc%} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: '% HNC'
        };
  
        var trace6 = {
          x: [{% for i in rondas %} ,{{i|json}} {%endfor%}],
          y: [{% for i in mc %} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: '% MC'
        };
  
        var trace7 = {
          x: [{% for i in rondas %} ,{{i|json}} {%endfor%}],
          y: [{% for i in mnc %} ,{{i|json}} {%endfor%}],
          mode: 'lines+markers',
          name: '% MNC'
        };
  
        var data = [ trace1, trace2, trace3, trace4, trace5, trace6, trace7 ];
        
        var layout = {
          title:'<b>Porcentajes de Comportamiento General de Decisiones<b>',
          legend: {
            x: 1,
            y: 0.5,
            traceorder: 'normal',
            font: {
              family: 'sans-serif',
              size: 12,
              color: '#000'
            },
            bgcolor: '#E2E2E2',
            bordercolor: '#FFFFFF',
            borderwidth: 2
          },
          yaxis: {rangemode: 'tozero',
            zeroline: true,
            title: '%',
            titlefont: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          },
          xaxis: {
            title: 'Rondas',
            titlefont: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          }
        };
        
        Plotly.newPlot(gd, data, layout,{scrollZoom: true});
        
        window.onresize = function() {
            Plotly.Plots.resize(gd);
        };
        
        });
    </script>

    <script> 
       $(document).ready(function(){
          new Chart(document.getElementById("HvsM"), {
              type: 'doughnut',
              data: {
                labels: ["Hombres", "Mujeres"],
                datasets: [{
                  label: "Cantidad Hombres vs Mujeres",
                  backgroundColor: ["#20c997", "#fd7e14"],
                  data: [ {{m|json}} , {{f|json}} ]
                }]
              },
              options: {
                title: {
                  display: true,
                  text: 'Género de los Participantes'
                },
                animation: {
                  animateScale: true,
                  animateRotate: true
                },
                tooltips: {
                  callbacks: {
                    label: function(tooltipItem, data) {
                      var dataset = data.datasets[tooltipItem.datasetIndex]
                      var currentValue = dataset.data[tooltipItem.index]       
                      return currentValue + "%"
                    }
                  }
                }
              }
          })
         
          new Chart(document.getElementById("edades"), {
            type: 'bar',
            data: {
              labels: ["Hombres", "Mujeres"],
              datasets: [{
                label: "Cantidad Hombres vs Mujeres",
                backgroundColor: ["#FCA802", "#9AED0B"],
                data: [{% for i in edades %} {{i|json}}, {%endfor%} {{edades}}]
              }]
            },
            options: {
              scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
              },
              title: {
                display: true,
                text: 'Promedio de Edad de los Participantes'
              },
              animation: {
                animateScale: true,
                animateRotate: true
              }
            }
          })
        });
    </script>
    
{% endblock %}