{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Dilema del Prisionero
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="form-group required">
        <p class="justify">
            <i>En cada celda, la cantidad a la izquierda es la recompensa para usted y la derecha para el otro participante.</i>
        </p>
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">El otro participante</th>
            </tr>
            <tr>
                <th>Confiesan</th>
                <th>Callan</th>
            </tr>
            <tr class="highlight-row-on-hover">
                <th rowspan="2"><span class="rotate90">Usted</span></th>
                <td><button name="decision" value="Confesar" class="btn btn-primary btn-large">Confesar</button></td>
                <td>{{Constants.pago_ambos_confiesan|floatformat:"0" }} puntos, {{Constants.pago_ambos_confiesan|floatformat:"0" }} puntos</td>
                <td>{{ Constants.pago_jugador_confiesa|floatformat:"0" }} puntos, {{Constants.pago_jugador_calla|floatformat:"0" }} puntos</td>
            </tr>
            <tr class="highlight-row-on-hover">
                <td><button name="decision" value="Callar" class="btn btn-primary btn-large">No Confesar</button></td>
                <td>{{Constants.pago_jugador_calla|floatformat:"0" }} puntos, {{ Constants.pago_jugador_confiesa|floatformat:"0" }} puntos</td>
                <td>{{Constants.pago_ambos_callan|floatformat:"0" }} puntos, {{Constants.pago_ambos_callan|floatformat:"0" }} puntos</td>
            </tr>
        </table>
    </div>

    {% include Constants.intructions_template %}

{% endblock %}
