{% load otree static staticfiles otree_tags %}
<div class="card bg-light instructions">
    <div class="card-body">

        <p class="text-justify">
            Durante un examen, el profesor vigila cuidadosamente a los estudiantes. El profesor 
            encuentra un papel con todas las respuestas en el espacio entre dos alumnos, un alumno 
            A y otro alumno B. En ambos exámenes de los alumnos las respuestas son correctas. 
            El profesor, asumiendo que hubo un acto deshonesto, confisca el examen a los 
            estudiantes y los lleva ante el comité académico de la universidad. 
        </p>
        <p class="text-justify">
            Ambos estudiantes, A y B, son recibidos en oficinas diferentes. En cada una les espera un miembro del comité académico de la universidad. Al mismo tiempo, a cada 
            estudiante se le informa que su compañero está en otra sala, y que también está siendo interrogado sobre si se efectuó o no el acto de copia.
        </p>
        <p class="text-justify">
            <i>Cada estudiante tiene solo dos opciones y no podrá conocer de antemano la acción de su compañero:
            </br> 
        </p>
        <p class="text-center">
                <b>Confesar</b><img src="{% static 'prisionerdilemma/confesar.png' %}" style="width:6%; margin-left:1%; height:auto;" alt="">
                &nbsp;&nbsp; o, &nbsp;&nbsp; <b>No Confesar</b><img src="{% static 'prisionerdilemma/no_confesar.png' %}" style="width:6%; margin-left:1%; height:auto;" alt="">
        </p>

        <p class="text-justify">
                El castigo que recibirá cada estudiante será una cantidad de puntos menos en la nota 
                final de su examen, en función de la decisión de cada uno de ellos, y la de su compañero.</br> 
                Es decir:
        </p>
        <p class="text-justify">
            1) Si ambos estudiantes <b>confiesan</b> <img src="{% static 'prisionerdilemma/confesar.png' %}" style="width:6%; margin-left:1%; height:auto;" alt="">; entonces, a cada uno se le restarán <b>5 puntos</b> en el examen.
        </p>
        <p class="text-justify">
            2) Si el participante A <b>confiesa</b><img src="{% static 'prisionerdilemma/confesar.png' %}" style="width:6%; margin-left:1%; height:auto;" alt="">
            , y el estudiante B decide <b>no confesar</b><img src="{% static 'prisionerdilemma/no_confesar.png' %}" style="width:6%; margin-left:1%; height:auto;" alt="">; entonces, al estudiante A se le restará <b>1 punto</b> en su examen, mientras que al estudiante B, se le restarán <b>8 puntos</b>. Viceversa si quien confiesa es el estudiante B y quien no lo hace es el estudiante A.
        </p>
        <p class="text-justify">
            3) Si el participante A decide <b>no confesar</b><img src="{% static 'prisionerdilemma/no_confesar.png' %}" style="width:6%; margin-left:1%; height:auto;" alt="">
            , y el estudiante B, también decide <b>no confesar</b><img src="{% static 'prisionerdilemma/no_confesar.png' %}" style="width:6%; margin-left:1%; height:auto;" alt="">; entonces, a los dos estudiantes se les restarán <b>3 puntos</b> en el examen. 
        </p>
        <p class="text-justify">
            Su nota final será sobre <b>100 puntos</b>, de la cual se restarán los puntos acumulados de los resultados de las decisiones de ambos estudiantes.
        </p>
    </div>
</div>
