{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

    <p class="text-justify"> 
        Usted ha sido emparejado aleatoriamente con otro participante.
        Cada uno va a representar a una firma. Ambas firmas fabrican el mismo producto.
    </p>

    <p class="text-justify">
        Los dos deciden simultanea e independientemente cuantas unidades fabricar.
        Pueden elegir desde 0 hasta {{ Constants.max_units_per_player }}.
        Todas las unidades producidas se venderán, pero cuanto más se produzca, menor será el precio de venta unitario.
    </p>


    <p class="text-justify">
        El precio de venta unitario es:
    </p>

    <ul>
        <li>PVU = Precio de Venta Unitario.</li>
        <li>UF = Unidades producidas por su firma.</li>
        <li>UFO = Unidades producidas por la firma oponete.</li>
        
    </ul>

    <p class="text-center font-weight-bold"><i>PVU = {{ Constants.total_capacity }} – UF – UFO</i> (puntos)</p>

    <p class="text-justify">
        Por lo tanto, su ganancia se determina de la siguiente manera :
    </p>

    <p class="text-center font-weight-bold">
            <i>Ganancia = Precio de venta unitario × Unidades producidas por su firma (puntos)</i>
    </p>
    
    <p class="text-justify">
    Se jugará 10 rondas en este esquema. El pago final será la suma de las ganancias en cada una de las rondas.
    </p>

</div>
</div>