{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

    <p class="text-justify"> 
        Usted ha sido emparejado, aleatoriamente y de manera anónima, con otro participante de la sesión.
        Cada uno representa a una firma. Ambas firmas fabrican el mismo producto.
    </p>

    <p class="text-justify">
        Los dos deciden simultáneamente, y de manera independiente, cuántas unidades fabricar.
        Pueden elegir desde 0 hasta {{ Constants.max_units_per_player }}.
        Todas las unidades producidas se venderán, pero cuanto más se produce el precio de venta unitario es menor.
    </p>


    <p class="text-justify">
        El precio de venta unitario es:
    </p>

    <ul>
        <li><b>PVU</b>  = Precio de Venta Unitario.</li>
        <li><b>UF</b>   = Unidades producidas por su firma.</li>
        <li><b>UFO</b>  = Unidades producidas por la firma oponete.</li>
        
    </ul>

    <p class="text-center font-weight-bold"><i>PVU = {{ Constants.total_capacity }} – UF – UFO</i> (puntos)</p>

    <p class="text-justify">
        Por lo tanto, su ganancia se determina de la siguiente manera :
    </p>

    <p class="text-center font-weight-bold">
            <i>Ganancia = Precio de venta unitario (PVU) × unidades producidas por su firma (UF) ; en puntos</i>
    </p>
    
    <p class="text-justify">
    Se jugará 10 rondas en este esquema. El pago final será la suma de las ganancias en cada una de las rondas.
    </p>

</div>
</div>